<header>
    <a class="btn btn-left" onclick="go('home')"></a>
    <span class="header-title">My Accounts</span>
    <a class="btn btn-right"></a>
</header>
<section class="list" id="account-list">

    <!--
    <div class="item">
        <div class="item-account-row-1">
            <div class="account-name">Current Account</div>
            <div class="account-balance">USD 50,000</div>
        </div>
        <div class="account-number">9654</div>
        <div class="account-activity">Last activity on 05 Jan 2018</div>
    </div>
    -->

</section>