<header>
    <a class="btn btn-left"></a>
    <span class="header-title">Banking App</span>
    <a class="btn btn-right"></a>
</header>
<div class="banner">
    <img src="img/banner2.png" />
</div>
<section class="app-menu">
    <a onclick="go('account-list')">
        <img src="img/icon_accounts.png" />
        <span>
            My Accounts
        </span>
    </a>
    <a onclick="go('loan-list')">
        <img src="img/icon_accounts.png" />
        <span>
            My Loans
        </span>
    </a>
    <a onclick="go('service-list')">
        <img src="img/icon_accounts.png" />

        <span>
            My Services
        </span>
    </a>
    <!--
        <a href="#">My Loans</a>
        <a href="#">My Services</a>
        <a href="#">Contact Us</a>
        -->
</section>